@model Order;

@{
    ViewData["Title"] ="Your order confirmation";
}
<h1>Order summary</h1>
<div>
    @foreach (var element in Model.Cart.Products)
    {
        <p>Name: @element.Key.Name | Quantity: @element.Value | Price: @element.Key.DefaultPrice</p>
    }
    <h5>Your shipping details</h5>
    <p>Full name: @Model.Address.FullName</p>
    <p>Street: @Model.Address.Street</p>
    <p>Country: @Model.Address.Country</p>
    <p>City: @Model.Address.City</p>
    <p>Phone: @Model.Address.Phone</p>
    <p>Email: @Model.Address.Email</p>
    <p>Zip code: @Model.Address.Zip</p>

    <h5>Your Payment info</h5>
    <p>Card number: @Model.PaymentInfo.CardNumber</p>
    <p>Expiration date: @Model.PaymentInfo.ExpMonth/@Model.PaymentInfo.ExpYear</p>
    <p>Name on Card: @Model.PaymentInfo.NameOnCard</p>
    <p>CVV: @Model.PaymentInfo.CVV</p>
</div>
<div>
    <form asp-action="Send">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>