@model Order;

@{
    ViewData["Title"] ="Your order confirmation";
}
<h1>Order summary</h1>
<div>
    @foreach (var element in Model.Cart.Products)
    {
        <p>@element.Key.Name x @element.Value : @element.Key.DefaultPrice</p><br/><br/>
    }
    <h5>Your shipping details</h5>
    <p>Full name: @Model.Address.FullName</p>
    <p>Street: @Model.Address.Street</p>
    <p>Country: @Model.Address.Country</p>
    <p>City: @Model.Address.City</p>
    <p>Phone: @Model.Address.Phone</p>
    <p>Email: @Model.Address.Email</p>
    <p>Zip code:@Model.Address.Zip</p>

    <h5>Your Payment info</h5>
    <p>@Model.PaymentInfo.CardNumber</p>
    <p>@Model.PaymentInfo.ExpMonth</p>
    <p>@Model.PaymentInfo.ExpYear</p>
    <p>@Model.PaymentInfo.NameOnCard</p>
    <p>@Model.PaymentInfo.CVV</p>
</div>
<div>
    <button type="submit">Confirm</button>
</div>