<div>
    <h3>Codecool shop thanks you for making the payment.</h3>
    <br>
    <h3>Your order: @(ViewBag.order.FullName) is confirmed!</h3>
    <br>
</div>
<div>
    <p>Order Id: @ViewBag.order.Id</p>
    <p>Customer's Name': @ViewBag.order.FullNameShipping</p>
    <p>Customer's Email': @ViewBag.order.EmailShipping</p>
    <p>Shipping address: @ViewBag.order.AddressShipping</p>
</div>
<div>
    <p>The details of your order:</p>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
            @foreach (var item in ViewBag.order.ItemCollection)
            {
                <tr>
                    <td>@item.Product.Id</td>
                    <td><img src="~/img/@(item.Product.Name).jpg"/> </td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.DefaultPrice.ToString()</td>
                    <td>@(item.Product.DefaultPrice * item.Quantity).ToString()</td>
                </tr>
            }
            <tr>
                <td>Sum</td>
                <td>
                    @ViewBag.order.Total.ToString()
                </td>
            </tr>
        </table>
    </div>
</div>
